{% extends 'base.html.twig' %}
{% block title %}{{project.title}}{% endblock %}
{% block body %}



    {% set images = [
    'bgBanneer1.jpg',
    'bgBanneer2.jpg',
    'bgBanneer3.webp',
    'bgBanneer4.jpg',
    'bgBanneer5.webp',
    'bgBanneer6.jpg',
    'bgBanneer7.jpg',
    'bgBanneer8.jpg',
    'bgBanneer9.jpg',
    'bgBanneer10.jpg',
] %}

    <div class="slide bg-primary-light text-primary-dark dark:bg-primary-dark  dark:text-primary-light flex flex-col gap-24">
        <div class="w-full text-primary-light flex justify-center  flex-col gap-3 h-[450px] banneerProject overflow-hidden" style="background: url('/images/banneers/{{ random(images) }}');">
            <div class="wrapper z-20 flex flex-col gap-3 justify-center relative">
                <h2 class="text-lg nohemi uppercase"data-aos="fade-down" data-aos-duration="600" data-aos-delay="150">{{project.title}}</h2>
                <p class="display-xs nohemi w-1/2 max-lg:w-full"data-aos="fade-down" data-aos-duration="600" data-aos-delay="300">{{ app.request.locale == 'fr' ? project.intro : project.introEn }}</p>
                
            </div>
        </div>

        <div class="flex z-10 relative pb-24 flex-col gap-24">
            <div class="flex flex-col gap-2">
                <div class="flex flex-col gap-10">
                    <div class="parallax w-full">
                        <div class="scroller text-quaternary-light dark:text-quaternary-dark uppercase display-lg hanken">
                            {% for i in 1..15 %}
                                <span class="skills" data-aos="fade-up" data-aos-duration="600" data-aos-delay="{{loop.index * 50}}">{{project.title}}</span>
                            {% endfor %}
                        </div>   
                    </div>   
                    <div class="parallax -translate-y-6 w-full">
                        <div class="scroller text-transparent uppercase display-lg hanken">
                            <div class="contour">
                                {% for i in 1..15 %}
                                    <span class="contour" data-aos="fade-down" data-aos-duration="600" data-aos-delay="{{loop.index * 50}}">{{project.title}}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="containerProject wrapper justify-between flex flex-wrap max-lg:gap-10">
                <div class="left w-[50%] max-lg:w-full flex flex-col gap-10">
                    <div class="left_high flex flex-col gap-10">
                        <div class="left_high_title flex flex-wrap gap-3 justify-between">
                            <div class="left_high_title max-lg:order-2 flex flex-col gap-5">
                                <h2 class="display-xl hanken uppercase"data-aos="fade-right" data-aos-duration="600" data-aos-delay="200">{{project.title}}</h2>
                                <div class="flex gap-3 items-center flex-wrap">
                                    {% for s in project.languages %}
                                     <span data-aos="fade-up" data-aos-duration="600" data-aos-delay="{{loop.index * 200}}" class="py-2 px-4 text-sm nohemi bold rounded-full border"
                                        style="border-color: {{ s.color }}; background-color: {{ s.color }}40; color: {{ s.color }};">
                                        {{ s.name }}
                                    </span>

                                    {% endfor %}
                                </div>
                            </div>
                            <p data-aos="fade-left" data-aos-duration="600" data-aos-delay="200" class="text-lg max-lg:order-1 text-secondary-light dark:text-secondary-dark">{{ project.date | date('d F Y', 'Europe/Paris') | format_datetime(pattern="d MMMM yyyy", locale=app.request.locale == 'fr' ? 'fr' : 'en') }}</p>
                        </div>
                        <p class="text-lg" data-aos="zoom-in" data-aos-duration="600" data-aos-delay="1000">{{ app.request.locale == 'fr' ? project.descriptionFr|nl2br|raw  : project.descriptionEn|nl2br|raw }}</p>
                    </div>

                    {% if project.website and project.figma and project.github %}
                        <div class="button w-full flex gap-5 flex-wrap" >
                            {% include 'partials/button.html.twig' with {
                                name: 'project.websiteLink',
                                link: project.website,
                                blank: true,
                                class: 'bg-secondary-light text-primary-light dark:text-primary-light dark:bg-secondary-dark dark:border-[#f5f5f5] border-2 border-[#252525] hover:bg-tertiary-light hover:text-secondary-light  hover:dark:bg-tertiary-dark hover:border-[#252525]',
                                classIcon:"bg-primary-light text-primary-dark  dark:bg-primary-dark dark:text-primary-light",
                            } %}
                            {% include 'partials/button.html.twig' with {
                                name: 'project.figmaLink',
                                link: project.figma,
                                blank: true,
                                class: 'bg-primary-light text-primary-dark dark:text-primary-light dark:bg-primary-dark dark:border-[#f5f5f5] border-2 border-[#252525] hover:bg-tertiary-light hover:text-secondary-light  hover:dark:bg-tertiary-dark hover:border-[#252525]',
                                classIcon:"bg-primary-dark text-primary-light  dark:bg-primary-light dark:text-primary-dark",
                            } %}
                            {% include 'partials/button.html.twig' with {
                                name: 'project.githubLink',
                                link: project.github,
                                blank: true,
                                class: 'bg-primary-dark text-primary-light dark:text-primary-dark dark:bg-primary-light dark:border-[#f5f5f5] border-2 border-[#252525] hover:bg-tertiary-light hover:text-secondary-light  hover:dark:bg-tertiary-dark hover:border-[#252525]',
                                classIcon:"bg-primary-light text-primary-dark  dark:bg-primary-dark dark:text-primary-light",
                            } %}
                        </div>
                    {% endif %}
                </div>
                
                <!-- Image avec la possibilité de cliquer pour l'afficher en grand -->
                <div  data-aos="fade-right" data-aos-duration="600" data-aos-delay="1600" class="right w-[45%] h-[600px] max-lg:w-full overflow-hidden shadow-shadow-light dark:shadow-shadow-dark rounded-3xl cursor-pointer">
                <!-- Image qui ouvre la modal -->
                    <a href="/uploads/{{project.cover}}" data-fancybox="project-images" data-transition="fade" data-caption="{{project.title}}" data-animation="0" class="block h-full ">
                        <img class=" h-full w-full shadow-shadow-light object-cover dark:shadow-shadow-dark rounded-3xl" src="/uploads/{{project.cover}}" alt="{{project.title}} - cover">
                    </a>
                    
                </div>
            </div>
            <div class="wrapper">
                 {% include "partials/_slider.html.twig" %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('skillsJS') }}
    {{ encore_entry_script_tags('sliderJS') }}
    {{ encore_entry_script_tags('homeJS') }}
   
     
{% endblock %}
